*.o
*.*~
*.so
a.out
zappy-ia-linux
zappy_ia/zappy_ai
zappy_gui/zappy-gfx
server/trace.log
server/err
zappy-gfx-linux64
server/zappy_server
zappy_server
zappy_gfx
zappy_ai
server/__START__
server/test.c
trace.log
server/a.out